apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: halloween-dev
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/s7rosine/Halloween-project.git
    targetRevision: main
    path: deploy/overlays/dev
  destination:
    server: https://kubernetes.default.svc
    namespace: dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
